# Printing

In [2]:
print("Hello, World!")

Hello, World!

# Arithmetic Operations

In [3]:
print(4+5)

9

In [4]:
print(9-5)

4

In [5]:
print(9*5)

45

In [6]:
print(8**3)

512

In [7]:
print(45/3)

15.0

In [8]:
print(((1+3)*(9-2)/2)**2)

196.0

# Comments

In [9]:
#Multiply 5 by 2
print(5*2)

10

# Variables

# Creating variables

In [10]:
# Create a variable called test_var and give it a value of 4+5
test_var = 4 + 5

# Print the value of test_var
print(test_var)

9

# Manipulating variables

In [11]:
# Set the value of a new variable to 3
my_var = 3

# Print the value assigned to my_var
print(my_var)

# Change the value of the variable to 100
my_var = 100

# Print the new value assigned to my_var
print(my_var)

3
100

In [12]:
print(my_var)
print(test_var)

100
9

In [13]:
# Increase the value by 3
my_var = my_var + 3

# Print the value assigned to my_var
print(my_var)

103

# Using multiple variables

In [14]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

In [ ]:
# Update to include leap years
days_per_year = 365.25

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

In [16]:
days_per_year = 365

print(days_per_year)

365

# Functions

In [1]:
def add_three(input_var):
    output_var = input_var + 3
    return output_var

In [2]:
# Run the function with 10 as input
new_number = add_three(10)

# Check that the value is 13, as expected
print(new_number)

13

# Naming functions

In [3]:
def get_pay(num_hours):
    # Pre-tax pay, based on receiving $15/hour
    pay_pretax = num_hours * 15
    # After-tax pay, based on being in 12% tax bracket
    pay_aftertax = pay_pretax * (1 - .12)
    return pay_aftertax

In [4]:
# Calculate pay based on working 40 hours
pay_fulltime = get_pay(40)
print(pay_fulltime)

528.0

In [5]:
pay_parttime = get_pay(32)
print(pay_parttime)

422.4

# Functions with multiple arguments

In [6]:
def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - tax_bracket)
    return pay_aftertax

In [7]:
higher_pay_aftertax = get_pay_with_more_inputs(40, 24, .22)
print(higher_pay_aftertax)

748.8000000000001

In [8]:
same_pay_fulltime = get_pay_with_more_inputs(40, 15, .12)
print(same_pay_fulltime)

528.0

# Functions with no arguments

In [30]:
def print_hello():
    print("Hello, you!")
    print("Good morning!")
    
# Call the function
print_hello()

Hello, you!
Good morning!

# Data Types

# Integers

In [10]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

# Floats

In [11]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

In [15]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [16]:
# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

In [17]:
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

# Booleans

In [18]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

In [19]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

In [20]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

In [21]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

In [22]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

# Strings

In [23]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [24]:
print(len(w))

14

In [25]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

In [26]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

In [27]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

In [28]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [29]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

# Conditions and Conditional Statements

# Conditions

In [31]:
print(2 > 3)

False

In [32]:
var_one = 1
var_two = 2

print(var_one < 1)
print(var_two >= var_one)

False
True

# Conditional statements

# "if" statements

In [33]:
def evaluate_temp(temp):
    message = "Normal temperature."
    if temp > 38:
        message = "Fever!"
    return message

In [34]:
print(evaluate_temp(37))

Normal temperature.

In [35]:
print(evaluate_temp(39))

Fever!

# "if ... else" statements

In [36]:
def evaluate_temp_with_else(temp):
    if temp > 38:
        message = "Fever!"
    else:
        message = "Normal temperature."
    return message

In [37]:
print(evaluate_temp_with_else(37))

Normal temperature.

# "if ... elif ... else" statements

In [38]:
def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Normal temperature."
    else:
        message = "Low temperature."
    return message

In [39]:
evaluate_temp_with_elif(36)

'Normal temperature.'

In [40]:
evaluate_temp_with_elif(34)

'Low temperature.'

In [41]:
def get_taxes(earnings):
    if earnings < 12000:
        tax_owed = .25 * earnings
    else:
        tax_owed = .30 * earnings
    return tax_owed

In [42]:
ana_taxes = get_taxes(9000)
bob_taxes = get_taxes(15000)

print(ana_taxes)
print(bob_taxes)

2250.0
4500.0

In [43]:
def get_dose(weight):
    # Dosage is 1.25 ml for anyone under 5.2 kg
    if weight < 5.2:
        dose = 1.25
    elif weight < 7.9:
        dose = 2.5
    elif weight < 10.4:
        dose = 3.75
    elif weight < 15.9:
        dose = 5
    elif weight < 21.2:
        dose = 7.5
    # Dosage is 10 ml for anyone 21.2 kg or over
    else:
        dose = 10
    return dose

In [44]:
print(get_dose(12))

5

# Intro to Lists

In [45]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

print(type(flowers))
print(flowers)

<class 'str'>
pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle

In [46]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]

print(type(flowers_list))
print(flowers_list)

<class 'list'>
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

# Lists

# Length

In [47]:
print(len(flowers_list))

10

# Indexing

In [48]:
print("First entry:", flowers_list[0])
print("Second entry:", flowers_list[1])

# The list has length ten, so we refer to final entry with 9
print("Last entry:", flowers_list[9])

First entry: pink primrose
Second entry: hard-leaved pocket orchid
Last entry: globe thistle

# Slicing

In [49]:
print("First three entries:", flowers_list[:3])
print("Final two entries:", flowers_list[-2:])

First three entries: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells']
Final two entries: ['monkshood', 'globe thistle']

# Removing items

In [50]:
flowers_list.remove("globe thistle")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

# Adding items

In [51]:
flowers_list.append("snapdragon")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'snapdragon']

# Lists are not just for strings

In [52]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]

In [53]:
print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:", hardcover_sales[2])

Length of the list: 7
Entry at index 2: 172

In [54]:
print("Minimum:", min(hardcover_sales))
print("Maximum:", max(hardcover_sales))

Minimum: 128
Maximum: 191

In [55]:
print("Total books sold in one week:", sum(hardcover_sales))

Total books sold in one week: 1107

In [56]:
print("Average books sold in first five days:", sum(hardcover_sales[:5])/5)

Average books sold in first five days: 153.8